[submodule "ArdupilotLogReader"]
	path = ArdupilotLogReader
	url = ../ArdupilotLogReader.git
[submodule "FlightData"]
	path = FlightData
	url = ../FlightData.git
[submodule "geometry"]
	path = geometry
	url = ../geometry.git
[submodule "FlightAnalysis"]
	path = FlightAnalysis
	url = ../FlightAnalysis.git
[submodule "FlightPlotting"]
	path = FlightPlotting
	url = ../FlightPlotting.git
