[submodule "ArdupilotLogReader"]
	path = ArdupilotLogReader
	url = https://github.com/PyFlightCoach/ArdupilotLogReader.git
[submodule "FlightData"]
	path = FlightData
	url = https://github.com/PyFlightCoach/FlightData.git
[submodule "geometry"]
	path = geometry
	url = https://github.com/PyFlightCoach/geometry.git
[submodule "FlightAnalysis"]
	path = FlightAnalysis
	url = https://github.com/PyFlightCoach/FlightAnalysis.git
[submodule "FlightPlotting"]
	path = FlightPlotting
	url = https://github.com/PyFlightCoach/FlightPlotting.git
